body {
    background-color: #e0dfd0;
}


.pet {
    color: lightcoral;
    font-weight: bold;
}

.feedr {
    color: darkcyan;
    font-style: italic;
}

#login-button {
    position: absolute;
    top: 10px;
    right: 10px;
}