body {
    background-color: #e0dfd0;
}

.pet {
    color: lightcoral;
    font-weight: bold;
}

.feedr {
    color: darkcyan;
    font-style: italic;
}

#session-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Styling the feeding times and log window */
pre { 
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}